services:
    frontend:
        build:
            context: app/frontend
            dockerfile: Dockerfile
        ports:
            - '3000:3000'
        volumes:
            - ./app/frontend:/app
            - /app/node_modules
            - /app/.next
        environment:
            - NODE_ENV=development
        command: npm run dev
        restart: unless-stopped

    backend:
        build:
            context: app/backend
            dockerfile: Dockerfile
        ports:
            - '4000:4000'
        volumes:
            - ./app/backend:/app
            - /app/node_modules
        env_file:
            - ./app/backend/.env
        environment:
            - PORT=4000
        command: npm run dev
        restart: unless-stopped
