MISTRAL_API_KEY=your_mistral_api_key_here

#AWS
AWS_REGION=your_aws_region_here
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
BEDROCK_MODEL_ID=your_bedrock_model_id_here
S3_BUCKET_NAME=your_s3_bucket_name_here
AWS_BEDROCK_API_KEY=your_aws_bedrock_api_key_here

PORT=4000
CORS_ORIGIN=http://localhost:3000
